<!-- views/partials/head.ejs -->

<!-- Basic -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<title>Coin Tracker</title>
<meta name="keywords" content="Coin Tracker" />
<meta name="description" content="Coin Tracker"/>
<meta name="author" content="Michal and Hadas"/>

        <!-- Web Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet"/>

          <!-- Vendor Styles -->
          <link href="stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
          <link href="stylesheets/css/animate.css" rel="stylesheet" type="text/css" />
          <link href="stylesheets/vendor/themify/themify.css" rel="stylesheet" type="text/css" />
          <link href="stylesheets/vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css" />
          <link href="stylesheets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
          <link href="stylesheets/vendor/swiper/swiper.min.css" rel="stylesheet" type="text/css" />

          <!-- Theme Styles -->
          <link href="stylesheets/css/style.css" rel="stylesheet" type="text/css" />
          <link href="stylesheets/css/global/global.css" rel="stylesheet" type="text/css" />

          <!-- Favicon -->
          <link rel="shortcut icon" href="images/img/favicon.ico" type="image/x-icon"/>
          <link rel="apple-touch-icon" href="images/img/apple-touch-icon.png"/>

          <link href="stylesheets/css/table.css" rel="stylesheet" type="text/css" />

<!--
<meta charset="UTF-8">
<title>Super Awesome</title>

 CSS (load bootstrap from a CDN) 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
 body    { padding-top:20px; } 
  
</style>
-->